/* CONFIGURACIÓN BASE */
:root {
    --negro: #000;
    --blanco: #fff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


body{
    font-size: 1.6rem; 
    font-family: sans-serif;
    text-align: center;
    padding: 50px;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}


.oscuro{
    background-color: black;
    color: white;
}


button{
    margin: 10px;
    padding: 12px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #00bcd4;
    color: white;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: #0097a7;
    transform: scale(1.1);
}

button:active{
    transform: scale(0.95);
    background-color: black;
}


#titulo {
    font-size: 3rem;
    color: blueviolet;
    font-weight: bolder;
    margin-bottom: 20px;
}

#texto, #texto2{
    font-size: 1em; 
    line-height: 1.8;
    background-color: rgba(127, 255, 212, 0.548);
    margin: 15px auto;
    max-width: 700px;
    padding: 10px;
}


















